<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form method="post" action="/user/login">
            <label>Email</label>
            <input type="email" name="email" required placeholder="Enter your email">
            <br>
            <label>Password</label>
            <input type="password" name="password" required placeholder="Enter your password">
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>